@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>NoteAthon</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link type="image/x-icon" href="/favicon.ico">
    <link href="~/lib/element-ui/index.css" rel="stylesheet" />
    <link href="~/lib/editor.md/css/editormd.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <div id="app">
        <el-container>
            <el-button class="menu-btn-o" v-show="!menuCollapse" @@click="menuCollapse=true;" plain icon="el-icon-s-operation" size="small"></el-button>
            <el-button class="menu-btn-c" v-show="menuCollapse" @@click="menuCollapse=false;" plain icon="el-icon-s-fold" size="small"></el-button>
            <transition name="fade">
                <el-aside class="menu" v-show="menuCollapse">
                    <el-row>
                        <el-col :span="12">
                            <el-menu :collapse="true">
                                <el-menu-item index="1">
                                    <i class="el-icon-location"></i>
                                </el-menu-item>
                                <el-menu-item index="2">
                                    <i class="el-icon-menu"></i>
                                    <span slot="title">导航二</span>
                                </el-menu-item>
                                <el-menu-item index="3" disabled>
                                    <i class="el-icon-document"></i>
                                    <span slot="title">导航三</span>
                                </el-menu-item>
                                <el-menu-item index="4">
                                    <i class="el-icon-setting"></i>
                                </el-menu-item>
                            </el-menu>
                        </el-col>
                        <el-col :span="12"><div class="">文件目录</div></el-col>
                    </el-row>
                </el-aside>
            </transition>

            <el-main>
                <el-row>
                    <el-col :offset="2" :span="20">
                        <div class="editor-wrap">
                            <textarea name="editor" id="editor" cols="30" rows="10"></textarea>
                        </div>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/vue.js"></script>
    <script src="~/lib/element-ui/index.js"></script>
    <script src="~/lib/editor.md/editormd.min.js"></script>
    <script src="~/js/site.js"></script>

</body>
</html>